* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #fff;
}

.header,
.footer {
  width: 100%;
  padding: 300px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #1E88E5;
}

.maincontent {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.main {
  background: #33691E;
  padding: 0 20px;
}

.aside {
  width: 200px;
  flex-shrink: 0;
  position: relative;
}

.aside__wrap {
  background: #FF6D00;
  width: 100%;
  padding: 20px;
}

.aside__title {
  text-align: center;
  margin: 0;
}
